<footer class="footer">
  <small><%= t ".the" %><a href="http://www.railstutorial.org/">
  <%= t ".ror_tut" %></a> <%= t ".by" %>
  <a href="http://www.michaelhartl.com/"><%= t ".michael_hartl" %></a></small>
  <nav>
    <ul>
      <li><%= link_to t(".about_link_page"), about_path %></li>
      <li><%= link_to t(".contact_link_page"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/">
      <%= t ".news_link_text" %></a></li>
    </ul>
  </nav>
</footer>
